# Dossiers à exclure
node_modules/
.next/
out/

# Fichiers à exclure
*.log
*.gz
*.zip
*.tar
*.tar.gz
.DS_Store

# Fichiers de cache à exclure
.next/cache/

# Fichiers de dépendances volumineux à exclure (vous pouvez ajouter d'autres dossiers si nécessaire)
node_modules/@next/swc-linux-x64-gnu/
node_modules/@next/swc-linux-x64-musl/

# Fichiers de build volumineux à exclure
.next/cache/webpack/
